<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомление о подписке</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <div style="background-color: #ffffff; width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #e0e0e0; border-radius: 8px;">
        <h2 style="color: #333333; font-size: 24px; text-align: center;">Уведомление о подписке</h2>
        <p style="font-size: 16px; color: #555555; line-height: 1.6;">Ваша подписка на аккаунте: <span style="color: #007bff; font-weight: bold;">{{ текст_почты }}</span> {{ текст_окончания }} </p>
        <p style="font-size: 16px; color: #555555; line-height: 1.6;">{{ текст_об_окончании }}</p>

        <div style="font-size: 12px; color: #888888; text-align: center; margin-top: 20px;">
            <p>С уважением,<br> Ваша служба поддержки</p>
        </div>
    </div>
</body>
</html>
